[Unit]
Description= OrientDB  Server
After=network.target
# After=syslog.target

[Service]
ExecStart=/home/pi/xaas/orientdb/orientdb-tp3-3.1.6/bin/server.sh 
ExecStop=/home/pi/xaas/orientdb/orientdb-tp3-3.1.6/bin/shutdown -p p
# ExecStart=/home/pi/xaas/orientdb/orientdb-tp3-3.1.10/bin/server.sh 
# ExecStop=/home/pi/xaas/orientdb/orientdb-tp3-3.1.10/bin/shutdown -p p

# User=pi


[Install]
WantedBy=multi-user.target
